
.alta-btn,
.baja-btn {
  margin-top: 5px;
  margin-bottom: 5px;
    padding: 10px 10px;
    font-size: 16px;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    transition: all 0.3s ease;
}

.alta-btn:hover,
.baja-btn:hover {
    opacity: 0.8;
}

.alta-btn {
  margin-top: 5px;
  margin-bottom: 5px;
    background-color: #77dd77;
    color: #fff;
}

.baja-btn {
    background-color: #ff6961;
    color: #fff;
}

.user-img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 8px;
}

.swal2-content {
  display: grid;
  grid-gap: 5px; /* Espacio entre filas */
  grid-template-columns: 3fr;
  align-items: start; /* Alinea los botones a la parte superior del contenedor */
  justify-items: start; /* Alinea los botones a la izquierda del contenedor */
  margin-bottom: 10px; /* Espacio entre los contenedores de botones */
}

