@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}
.file-preview{
  background-color: brown;
  display: none;
  position: fixed;
  width: 150px;
  height: 150px;
  transform: translate(35%, -135%);
  background-color
}
.wrapper .chat-area{
  margin: auto;
}
.msg-date{
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 12px;
  margin-top: 5px;
  color: #67676a;
  font-weight: 500;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #fc7d1c;
  padding: 0 10px;
}
.wrapper{
  
  background: #fff;
  min-height: 70vh;
  width: 90%;
  max-width: 120vh;
  border-radius: 16px;
  box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
              0 32px 64px -48px rgba(0,0,0,0.5);
}

/* Login & Signup Form CSS Start */
.form{
  padding: 25px 30px;
}
.form header{
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
}
.form form{
  margin: 20px 0;
}
.form form .error-text{
  color: #721c24;
  padding: 8px 10px;
  text-align: center;
  border-radius: 5px;
  background: #f8d7da;
  border: 1px solid #f5c6cb;
  margin-bottom: 10px;
  display: none;
}
.form form .name-details{
  display: flex;
}
.form .name-details .field:first-child{
  margin-right: 10px;
}
.form .name-details .field:last-child{
  margin-left: 10px;
}
.form form .field{
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
  position: relative;
}
.form form .field label{
  margin-bottom: 2px;
}
.form form .input input{
  height: 40px;
  width: 100%;
  font-size: 16px;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.form form .field input{
  outline: none;
}
.form form .image input{
  font-size: 17px;
}
.form form .button input{
  height: 45px;
  border: none;
  color: #fff;
  font-size: 17px;
  background: #1984bc;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 13px;
}
.form form .field i{
  position: absolute;
  right: 15px;
  top: 70%;
  color: #ccc;
  cursor: pointer;
  transform: translateY(-50%);
}
.form form .field i.active::before{
  color: #333;
  content: "\f070";
}
.form .link{
  text-align: center;
  margin: 10px 0;
  font-size: 17px;
}
.form .link a{
  color: #333;
}


/* Users List CSS Start */
.users{
  padding: 25px 30px;
}
.users header,
.users-list a{
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #e6e6e6;
  justify-content: space-between;
}
.wrapper img{
  object-fit: cover;
  border-radius: 50%;
}
.users header .user-img{
  height: 50px;
  width: 50px;
}
:is(.users, .users-list) .content{
  display: flex;
  align-items: center;
}
:is(.users, .users-list) .content .details{
  color: #000;
  margin-left: 20px;
}
:is(.users, .users-list) .details span{
  font-size: 18px;
  font-weight: 500;
}
.users header .logout{
  display: block;
  background: #333;
  color: #fff;
  outline: none;
  border: none;
  padding: 4px 4px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 17px;
}
.users-list{
  max-height: fit-content;
  overflow-y: auto;
}
:is(.users-list, .chat-box)::-webkit-scrollbar{
  width: 0px;
}
.users-list a {
  text-decoration: none; /* Quita el subrayado */
  transition: all 0.3s ease; /* Transición suave */
  padding-top: 8px;
  padding-bottom: 10px;
  padding-left: 20px;
  margin-bottom: 15px;
  padding-right: 15px;
  border-bottom: 1px solid #f1f1f1; /* Aquí establecemos el estilo del borde y su color */
  background-color: #f3f1f1;
  border-radius: 10px;
}
.users-list a:hover {
  transform: scale(1.01); /* Aumenta ligeramente el tamaño del enlace */
}

.users-list a:hover::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #0056b3;
  transition: width 0.3s;
}

.users-list a:last-child{
  margin-bottom: 0px;
  border-bottom: none;
}
.users-list a img{
  height: 40px;
  width: 40px;
}
.users-list a .details p{
  color: #67676a;
}
.users-list a .status-dot{
  font-size: 12px;
  color: #4c00ff;
  padding-left: 10px;
}
.users-list a .status-dot.offline{
  color: #ccc;
}
.users-list a .last-message-time{
  font-size: 18px;
  color: #879e22;
  margin-left: auto;
  margin-bottom: 5px;
  margin-right: 6px;
  }
  /* Users List CSS End */
/* Chat Area CSS Start */
.chat-area header{
  display: flex;
  align-items: center;
  padding: 18px 30px;
}
.chat-area header .back-icon{
  color: #333;
  font-size: 18px;
}
.chat-area header img{
  height: 45px;
  width: 45px;
  margin: 0 15px;
}
.chat-area header .details span{
  font-size: 17px;
  font-weight: 500;
}
/* Chat Area CSS Start */
.chat-area header{
  display: flex;
  align-items: center;
  padding: 18px 30px;
}
.chat-area header .back-icon{
  color: #333;
  font-size: 18px;
}
.chat-area header img{
  height: 45px;
  width: 45px;
  margin: 0 15px;
}
.chat-area header .details span{
  font-size: 17px;
  font-weight: 500;
}
.chat-box{
  position: relative;
  min-height: 500px;
  min-height: calc(100% - 160px);
  max-height: calc(100% - 160px);
  margin: auto;
  overflow-y: auto;
  scrollbar-width: thin; /* Ancho del scrollbar */
  scrollbar-color: #888 #ddd; /* Color del scrollbar */
  padding: 10px 30px 20px 30px;
  background: #f7f7f7;
  box-shadow: inset 0 32px 32px -32px rgb(0 0 0 / 5%),
              inset 0 -32px 32px -32px rgb(0 0 0 / 5%);
}
.chat-box::-webkit-scrollbar{
  width: 8px;
}
.chat-box::-webkit-scrollbar-thumb {
  background-color: #888; /* Color del thumb del scrollbar */
}
.chat-box::-webkit-scrollbar-track {
  background-color: #ddd; /* Color del track del scrollbar */
}
.chat-box .text{
  position: absolute;
  top: 45%;
  left: 50%;
  width: calc(100% - 50px);
  text-align: center;
  transform: translate(-50%, -50%);
}
.chat-box .chat{
  margin: 15px 0;
}
.chat-box .chat p{
  word-wrap: break-word;
  padding: 8px 16px;
  box-shadow: 0 0 32px rgb(0 0 0 / 8%),
              0rem 16px 16px -16px rgb(0 0 0 / 10%);
}
.chat-box .outgoing{
  display: flex;
}
.attachment{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 150px;
}
.chat-box .outgoing .is-seen{
  display: flex;
  align-items: center;
  margin-left: 10px;
  font-size: 15px;
  color: #333;
  font-weight: 500;
  cursor: pointer;
  margin-left: auto;
}
.chat-box .outgoing .details{
  margin-right: 10px;
  margin-left: auto;
  max-width:auto;

}
.outgoing .details p{
  background: #333;
  color: #fff;
  border-radius: 18px 18px 0 18px;
}
.chat-box .incoming{
  display: flex;
  align-items: flex-end;
}
.chat-box .incoming .profile-image{
  margin-bottom: auto;
  height: 35px;
  width: 35px;
}
.chat-box .incoming .details{
  margin-right: auto;
  margin-left: 10px;
  max-width: calc(100% - 130px);
}
.incoming .details p{
  background: #fff;
  color: #333;
  border-radius: 18px 18px 18px 0;
}
.typing-area{
  padding: 10px 10px;
  margin-bottom: auto;
  display: flex;
  justify-content: space-between;
}
.typing-area input{
  height: 45px;
  width: calc(100% - 58px);
  font-size: 16px;
  padding: 0 13px;
  border: 1px solid #e6e6e6;
  outline: none;
  border-radius: 5px 0 0 5px;
}

.imagenFile{
  width: 150px;
  height: 150px;
  max-width: 200px;
  max-height: 200px;
}
.typing-area button{
  color: #fff;
  width: 40px;
  height: auto;
  border: none;
  outline: none;
  background: #333;
  font-size: 19px;
  cursor: pointer;
  opacity: 0.7;
  pointer-events: none;
  margin-left: 2px;
  transition: all 0.3s ease;
}
.typing-area button.active{
  opacity: 1;
  pointer-events: auto;
}
.circulo {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 3%;
}

.circulo > .letra {
  font-family: sans-serif;
  color: white;
  font-size: 1.5rem; /* Tamaño de fuente proporcional al círculo */
  font-weight: bold;
}


/* Responive media query */
@media screen and (max-width: 695px) {
  .users header .logout .logout-text {
    display: none; /* Oculta el texto "Cerrar Sesión" */
}
.typing-area {
  position: fixed; /* Fija el elemento en la ventana del navegador */
  bottom: 0; /* Lo posiciona en la parte inferior */
  width: 100%; /* Ancho completo */
  background-color: #ffffff; /* Color de fondo */
  padding: 10px; /* Relleno */
  box-sizing: border-box; /* Incluye el relleno en el ancho total */
}
  .chat-area{
    height: 100vh;
  }

  .form, .users{
    padding: 20px;
  }
  .form header{
    text-align: center;
  }
  .form form .name-details{
    flex-direction: column;
  }
  .form .name-details .field:first-child{
    margin-right: 0px;
  }
  .form .name-details .field:last-child{
    margin-left: 0px;
  }

  .users header .logout{
    padding: 6px 10px;
    font-size: 16px;
  }
  :is(.users, .users-list) .content .details{
    margin-left: 15px;
  }

  .users-list a{
    padding-right: 10px;
  }

  .chat-area header{
    padding: 15px 20px;
  }
  .chat-box {
    height: 500px;
    margin: auto;
    padding: 10px 15px 15px 20px;
    position: relative;
    overflow-y: auto;
    scrollbar-width: thin; /* Ancho del scrollbar */
    scrollbar-color: #888 #ddd; /* Color del scrollbar */
    background: #f7f7f7;
    box-shadow: inset 0 32px 32px -32px rgb(0 0 0 / 5%),
                inset 0 -32px 32px -32px rgb(0 0 0 / 5%);
  }
  .chat-box .chat p{
    font-size: 15px;
  }
  .chat-box .outogoing .details{
    max-width: 230px;
  }
  .chat-box .incoming .details{
    max-width: 265px;
  }
  .incoming .details img{
    height: 30px;
    width: 30px;
  }
  .chat-area form{
    padding: 20px;
  }
  .chat-area form input{
    height: 40px;
    width: calc(100% - 48px);
  }
  .chat-area form button{
    width: 45px;
  }
  body{
    padding: 0%;
    align-items: normal;
  }
  .wrapper{
    width: 100%;
    border-radius: 0px;

  }
  .users-list a .details p {
    font-size: 15px;
  }
  .users-list a .last-message-time {
    font-size: 15px;
  }
}
